@keyframes float{
  0% {height: 10em;}
  50% {height: 14em;}
  100% {height: 10em;}
}
@font-face {
    font-family: 'munroregular';
    src: url('./fonts/munro-webfont.woff2') format('woff2'),
         url('./fonts/munro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.spacer{
  margin-top: 5%;
}

.spacer2{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

body{

  height: 100%;
}

.backgroundexpander{
  height: 500px;
}

.backgroundimage{
  background-image: url(./images/skybg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.logoimage{
  width: 30%;
}

.align {
  border-color: red;
  display: flex;
  justify-content: center;
}

.description{
  font-family: 'munroregular';
  font-size: 300%;
  font-style: bold;
  color: white;
}

.home{
    text-decoration: none;
}

.islandcontainer{
  position: relative;
}

.tokencontainer{
  position: fixed;
  top: 6px;
  right: 5px;
  /* animation-name: token;
  animation-duration: 1s;
  animation-iteration-count: infinite; */
}

.cartbtncontainer{
  position: fixed;
  top: 90px;
  right: 5px;
}

.cartbtn{
  cursor: pointer;
}

.gachacontainer{
  position: fixed;
  top: 192px;
  right: 5px;
}

.gachaimg{
  cursor: pointer;
}

.gachamachineimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 684px;
}

.align {
  display: flex;
  justify-content: center;
}

.separator{
  animation-name: float;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


.uwuzon{
  cursor: pointer;
  position: absolute;
  top: -3%;
  left: 40%;
  width: 20%;
  height: auto;
}


.ladzada{
  cursor: pointer;
  position: absolute;
  top: 16%;
  left: 69%;
  width: 25%;
  height: auto;
}

.abay{
  cursor: pointer;
  position: absolute;
  top: 14%;
  left: 12%;
  width: 20%;
  height: auto;
}
.souppee{
  cursor: pointer;
  position: absolute;
  top: 25.5%;
  left: 40%;
  width: 20%;
  height: auto;
}


.islandimg{
  width:100%;
}

.tokenimg{
  width: 100%;
}

.cointxt{
  position: absolute;
  top: 10%;
  right: 8%;
  color: white;
  font-size: 280%;
  font-style: normal;
  font-family: 'munroregular';
}

.backgroundcolor{
  background-color: rgb(25, 38, 56);
}

.itemcontainer{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  justify-content: center;
  flex-wrap:wrap;
}


.itemcontainer > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-image: url(./images/border1.png);
  background-size: 100% 100%;
  width: 30%;
  min-width: 232px;
  max-width: 340px;
  max-height: 340px;
  height: auto;
  margin: 1em;
  padding: 3%;
}

.itemcontainer > div:hover {
  background-image: url(./images/border2.png);
}

.loadingspacer{
  margin-top: 60%;
}

.loadingcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loadingtxt{
  font-size: 300%;
  font-family: 'munroregular';
  color: rgb(4, 106, 175);
  text-align: center;
}

.itemimg{
  /* background-color: rgba(0,0,0,0.2); */
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  height: auto;
}

.shopname{
  width: 50%;
  max-width: 500px;
}

.chosenitemcontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.chosenitemimagecontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url(./images/border1.png);
  min-width: 232px;
  background-size: 100% 100%;
  height: auto;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
  max-height: 400px;
  
}

.itemImage{
  min-width: 200px;
  min-height: 200px;
  width: 95%;
  height: auto;

}

.itemInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-style: normal;
  font-family: 'munroregular';
}

.itemCat{
  font-size: 150%;
}

.itemDesc{
  font-size: 150%;
}

.itemPrice{
  font-size: 300%;
}

.itemName{
  font-size: 300%;
}

.backcontainer{
  position: fixed;
  top: 6px;
  left: 5px;
}

.backimg{
  cursor: pointer;
  width: 100%;
}

.cartcontainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
}

.carttext{
  font-size: 90%;
  font-family: 'munroregular';
  color: rgb(143, 196, 67);
}

#AddToCart{
  width: 96px;
  height: 78px;
}

.cartfont{
  font-family: 'munroregular';
  color: white;
  text-align: center;
}


.buttonfont{
  font-family: 'munroregular';
  color: white;
}

.clearcart{
  background-color: rgb(234, 67, 67);
  border-color: rgb(234, 67, 67);
  margin-left: 3%;
}

.clearcart:hover{
  background-color: rgb(157, 41, 45);
  border-color: rgb(157, 41, 45);
}