@keyframes float{
  0% {height: 10em;}
  50% {height: 14em;}
  100% {height: 10em;}
}

body {
  background-image: url(./images/skybg.png);
}

.spacer{
height: 20em;
}


.description {
  border-color: red;
}

.description h1{
  text-align: center;
}

.description h2{ 
  font-size: 20px;
  display: block;
  text-align: center;
}

.islandcontainer{
  position: relative;
}



.align {
  display: flex;
  justify-content: center;
}

.separator{
  animation-name: float;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


.uwuzon{
  position: absolute;
  top: -3%;
  left: 40%;
  width: 20%;
  height: auto;
}


.ladzada{
  position: absolute;
  top: 16%;
  left: 69%;
  width: 25%;
  height: auto;
}

.abay{
  position: absolute;
  top: 14%;
  left: 12%;
  width: 20%;
  height: auto;
}
.souppee{
  position: absolute;
  top: 25.5%;
  left: 40%;
  width: 20%;
  height: auto;
}


.islandimg{
  width:100%;
}

.cartbtn{
  position: fixed;
  top:5%;
  right:0;
}
.gachabtn{
  position: fixed;
  top:10%;
  right:0;
}

.cointxt{
  position: fixed;
  top:0;
  right:0;
}